.main {
    width: $page-width;
    font-family: $font-family;
    margin: 0 auto;

    &__title {
        line-height: 3.5rem;
        font-size: 2.5rem;
        font-weight: normal;
        text-transform: uppercase;
        width: 2rem;
        white-space: pre-wrap;

        @media screen and (min-width: $bp-small) {
            width: 100%;
            white-space: initial;
        }
    }

    &__subtitle {
        line-height: 2.5rem;
        font-size: 2rem;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__map {
        width: 100%;
        height: 16rem;
        margin-bottom: -2rem;
        border: 0;

        @media screen and (min-width: $bp-medium) {
            height: 24rem;
        }

        @media screen and (min-width: $bp-large) {
            height: 30rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $bp-large) {
            flex-direction: row;
        }
    }
}

.info {
    &__container {
        padding: 1rem 2rem 1rem 0;

        @media screen and (min-width: $bp-large) {
            width: 30%;
        }
    }

    &__title {
        white-space: nowrap;
        padding-bottom: 1rem;
        font-size: 1.25rem;
        display: inline-block;
        text-transform: uppercase;
    }

    &__text {
        margin: 0.5rem 0;
    }
}