$bg-color-primary: #fff; //white background
$bg-color-secondary: #373c42; //dark background
$font-color-primary: #2e2e2e; //black font
$font-color-secondary:#a4a4a6; //gray font
$font-color-link: #2e69c4;