//FONT FAMILY
$font-family: Arial,
Helvetica,
sans-serif;


//COLOR
$bg-color-primary: #fff; //white background
$bg-color-secondary: #373c42; //dark background
$bg-color-tertiary: #f8f9fa; //very light grey background
$font-color-primary: #2e2e2e; //black font
$font-color-secondary:#a4a4a6; //gray font
$font-color-tertiary: #fff; //white font
$font-color-link: #2e69c4; //link font

//BREAKPOINTS
$bp-small: 480px;
$bp-medium: 650px;
$bp-large: 800px;

//PAGE WIDTH %
$page-width: 80%;