@import 'default/variables';
@import 'pages/header';
@import 'default/resets';
@import 'pages/footer';


main {
    width: $page-width;
    margin: 0 auto;
    font-family: $font-family;

}

.container {
    width: 100%;
    display: flex;
    font-family: $font-family;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;


    @media screen and(min-width:$bp-medium) {
        flex-direction: row;
        width: $page-width;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1, 5rem;

        @media screen and(min-width:$bp-medium) {
            width: 45%;
        }

    }

    &__img {
        width: 90%;

        @media screen and(min-width:$bp-medium) {
            width: 60%;
        }
    }

    &__text {
        width: 100%;

        @media screen and(min-width:$bp-medium) {
            width: 60%;
        }
    }

    &__heading {
        width: 90%;
        background-color: $bg-color-tertiary;
        border-bottom: 1px solid $bg-color-secondary;

        @media screen and(min-width:$bp-medium) {
            width: 60%;
        }
    }
}