@import 'default/variables';
@import 'pages/header';
@import 'default/resets';
@import 'pages/footer';

main {
    width: $page-width;
    margin: 0 auto;
    font-family: $font-family;

}

.container {
    display: no-flex;

    @media screen and(min-width:$bp-medium) {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__text {
        display: flex;

        justify-content: space-between;


    }

    &__item {
        width: 100%;

        @media screen and(min-width:$bp-medium) {
            width: 35%;
        }
    }

    &__item2 {
        width: 100%;
        display: none;

        @media screen and(min-width:$bp-medium) {
            width: 35%;
            display: block;

        }
    }
}

main img {
    width: 100%;
    object-fit: cover;
    margin-bottom: -2rem;
}